/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("../dist/fontawesome/css/fontawesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,600;1,100;1,200&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bricksDes {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.checkersDes {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%237d7d7d' fill-opacity='0.54' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.dots {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.diag {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23727272' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.textSpread {
  animation: textSpread infinite ease 4s;
}

.bevel {
  box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8); /*top internal highlight*/
}

.hidden {
  display: none;
}

.mediaRow {
  flex-flow: column !important;
}

input[type=file] {
  display: block;
  color: transparent !important;
  font-style: oblique;
  border: none !important;
  border-radius: inherit !important;
  padding: 20px !important;
}

input[type=file]::file-selector-button {
  display: none;
}

#uploaded {
  background-color: #ff9500;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 0px;
  box-shadow: 0px 0px 10px inset black;
  background-image: url("../dist/svg/media.svg");
  background-repeat: repeat;
  background-size: 40px;
  background-position: center center;
  object-fit: contain;
}

.fileInput {
  width: 100%;
  max-width: 100%;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0px 0px 10px black inset;
  padding: 0px;
  margin: 0px;
  height: 150px;
  position: relative;
  border-radius: 25px;
}

.adminLinksBot {
  background-color: #5d5d5d;
  justify-content: space-around;
}
.adminLinksBot li {
  padding: 10px !important;
}
.adminLinksBot li a svg {
  fill: white;
}
.adminLinksBot li a svg:hover {
  fill: black;
}

.rowInput {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row nowrap;
}
.rowInput label {
  flex: 1 0 60%;
}

.rowInputShort {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row nowrap;
}
.rowInputShort label {
  flex: 1 0 40%;
}

.titleAndArrow {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.titleAndArrow h1 {
  margin-left: 40px;
}

.jots {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}
.jots li {
  width: fit-content;
}
.jots li h2 {
  color: #1d89ff;
}

.adminMenuOver {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  background-color: #ffffff;
}
.adminMenuOver ul li a {
  color: #161616;
  text-decoration: none;
  padding: 20px;
}

.adminWrapper form {
  flex-flow: column;
}
.adminWrapper form input {
  background-color: black;
  color: white;
}
.adminWrapper form input[type=submit] {
  background-color: #1d89ff;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  padding: 10px 5px;
  font-family: montserrat;
  padding-left: 0px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0px 0px 5px black inset;
  border: 1px solid black;
}
.adminWrapper form input[type=submit]:hover {
  background-color: #ff9500;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}
.adminWrapper form label {
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff !important;
  pointer-events: none;
  transition: 0.5s;
}
.adminWrapper form input, .adminWrapper form textarea, .adminWrapper form select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}
.adminWrapper form select {
  border-bottom: none;
  text-align: center;
}
.adminWrapper form textarea {
  resize: vertical;
}

.editWrapper {
  background-color: grey !important;
  margin: 0px;
  padding: 0px;
}

.editPageImg {
  margin: 0px;
  padding: 0px !important;
}

.editPageImages {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
}

.editPage {
  display: flex;
  flex-flow: column;
  width: 100vw;
}
.editPage .listForms {
  flex: 1 0 100%;
  max-width: 100%;
}
.editPage .listForms form textarea {
  height: 200px;
}

.scrollOver svg {
  transform: rotate(90deg);
}

body {
  position: relative;
}

.adminMenu {
  grid-column: span 4;
  padding: 20px;
}

.projectListCont {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow-y: scroll !important;
  max-height: 100vh;
  background: #ffffff;
  flex: 1;
  max-width: 25%;
  padding: 20px;
  height: fit-content;
  padding-bottom: 40px;
}

.mediaList {
  flex: 0 0 70% !important;
  max-width: 70% !important;
}
.mediaList img {
  max-width: 200px;
}

.project-list {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.project-list-media {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 16px;
  font-family: montserrat;
  position: relative;
  display: flex;
  max-height: fit-content;
  padding: 10px;
  justify-content: space-between;
}
.project-list-media:nth-child(odd) {
  background-color: rgb(210, 210, 210);
}
.project-list-media:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
.project-list-media .detailsImage {
  flex: 0 0 10%;
  max-width: 10% !important;
  max-height: 250px;
}
.project-list-media .project-text {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
.project-list-media .project-text p, .project-list-media .project-text a {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1rem;
}
.project-list-media .project-text ul {
  text-align: right;
  display: flex;
}
.project-list-media .project-text ul li {
  margin-left: 10px;
}
.project-list-media p {
  color: black !important;
  font-size: 12px;
}
.project-list-media a {
  font-size: 12px;
  font-family: monospace;
  text-decoration: none;
  color: #cb0000;
  cursor: pointer;
}

.col-span-2 {
  grid-column: span 2;
}

.col-span-3 {
  grid-column: span 3;
}

.col-span-4 {
  grid-column: span 4;
}

.detailsImage {
  max-width: 100%;
  height: auto;
}

.editListCont {
  flex: 1 0 100%;
  display: flex;
  flex-flow: row;
}
.editListCont div {
  flex: 2 0 50%;
  max-width: 50%;
}
.editListCont div img {
  max-width: 100%;
  max-height: 100%;
}
.editListCont form {
  flex: 2 0 50%;
  max-width: 50%;
  padding: 40px;
}
.editListCont form textarea {
  height: 50px;
}
.editListCont form label {
  font-size: 26px;
  color: black;
  margin-bottom: 10px;
}

#media_add_form {
  background-color: #ff9500;
}

#profile_form {
  background-color: #446391;
}

#filter_form {
  position: fixed;
  width: 25%;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  left: 0px;
  z-index: 5;
  background-color: #1d89ff;
}

#filter_form-media {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  z-index: 5;
  background-color: #cecece;
}

#upload_form {
  background-color: #d3d3d3;
}

#search {
  text-align: center;
  height: 30px;
  width: 80%;
  font-family: montserrat;
}
#search::placeholder {
  color: #161616;
}

.listForms {
  overflow: auto;
  flex: 1;
  max-height: 100vh;
  transition: right 0.2s ease; /* Apply transition to the right property */
  flex-flow: column;
}
.listForms form {
  padding: 20px !important;
  margin-bottom: -16px;
}
.listForms form input, .listForms form textarea {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
  color: black;
}
.listForms form input[type=file] {
  background-color: transparent;
}
.listForms form input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.listForms ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px;
}
.listForms ul li a {
  text-decoration: none;
}
.listForms h2 {
  color: #ffffff;
  text-align: center;
  width: 100%;
  font-weight: 700;
  background-color: #161616;
  padding: 20px;
}

.listForms:nth-child(3) {
  background-color: #5d5d5d !important;
}

.listForms:nth-child(2) {
  background-color: #a5a5a5 !important;
}

.mediaForms {
  flex: 0 0 30% !important;
  max-width: 30% !important;
}

.project-list {
  font-family: montserrat;
  position: relative;
  display: flex;
  flex-flow: column;
  max-height: 100vh;
}
.project-list .project-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}
.project-list .project-text ul {
  text-align: right;
  display: flex;
}
.project-list .project-text ul li {
  margin-left: 10px;
}
.project-list p {
  color: black !important;
  font-size: 12px;
}
.project-list a {
  font-size: 12px;
  font-family: monospace;
  text-decoration: none;
  color: #cb0000;
  cursor: pointer;
}

.adminWrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex: 1 0 75%;
  background-color: white;
}

p2 {
  font-size: 16px !important;
  color: #494949;
  line-height: 24px;
}

.project-gallery {
  display: flex;
  overflow-x: scroll;
  background-color: #ffffff;
  height: 100vh;
  align-items: center;
}
.project-gallery img, .project-gallery video, .project-gallery embed {
  object-fit: contain;
  max-height: 50vw;
  margin-top: 0px;
  padding: 40px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 100vw;
  margin: 0 auto;
}
.project-gallery img:-webkit-scrollbar, .project-gallery video:-webkit-scrollbar, .project-gallery embed:-webkit-scrollbar {
  background-color: transparent; /* Change to your desired background color */
  box-shadow: none;
  border: none;
}
.project-gallery img:first-child, .project-gallery video:first-child, .project-gallery embed:first-child {
  padding-left: 40px !important;
}
.project-gallery img:last-child, .project-gallery video:last-child, .project-gallery embed:last-child {
  padding-right: 40px !important;
}
.project-gallery .extraContent embed {
  height: 100vh;
}

.projectText {
  padding: 140px;
  background-color: white;
  box-shadow: 0px 0px 10px inset rgba(0, 0, 0, 0.65), 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
}
.projectText h1 {
  margin-bottom: 30px;
  font-size: 36px;
}
.projectText p {
  line-height: 40px !important;
  color: #000;
  text-align: justify;
  font-size: 26px !important;
  border-left: 1px rgb(74, 74, 74) solid;
  padding-left: 20px;
}

.projectDetails {
  display: flex;
  flex-flow: column;
}

.qrCont {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#qrcode {
  display: flex;
  align-items: center;
}

.backButton {
  height: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 20px;
  opacity: 0.4;
  cursor: pointer;
}
.backButton:hover {
  opacity: 1;
}

.extraContent embed {
  width: 100vw;
  max-height: 50vw;
  height: 100%;
}

.disableSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.infoButton {
  height: 40px;
  width: 40px;
  position: static;
  top: 20px;
  right: 20px;
  opacity: 0.25;
  cursor: pointer;
  transition: 0.2s ease;
}
.infoButton:hover {
  opacity: 1;
  fill: #ff9500;
}
.infoButton:active {
  transform: scale(1.5);
}

.ib2 {
  position: sticky;
  top: 20px;
  align-self: right;
  margin-left: none;
  margin-right: none;
  opacity: 0.25;
  cursor: pointer;
  margin-bottom: 20px;
}
.ib2:hover {
  opacity: 1;
}

.closeButton {
  top: 20px;
  left: 20px;
}

.detailsImage {
  border-radius: inherit;
}

@media only screen and (max-width: 768px) {
  .projectListCont {
    max-width: none;
  }
  .jots {
    flex-flow: column;
    justify-content: flex-end;
    align-items: right;
  }
  .jots li:first-child {
    margin-top: 0px;
  }
  .jots li {
    width: 100%;
    margin-top: 20px;
    text-align: center !important;
  }
  .adminWrapper {
    flex-flow: column;
  }
  .listForms {
    flex: 1 0 100%;
    max-width: 100%;
    max-height: 100vh;
  }
  .projectText {
    padding: 40px;
  }
  .projectText h1 {
    margin-bottom: 30px;
    font-size: 26px;
  }
  .projectText p, .projectText p2 {
    line-height: 30px;
    color: #000;
    text-align: justify;
    font-size: 16px !important;
  }
  .project-gallery {
    flex-flow: column !important;
    justify-content: center;
    height: auto;
  }
  .project-gallery video, .project-gallery embed {
    height: auto;
    max-height: 50vh;
    height: auto;
    width: 100vw;
    padding: 20px;
  }
  .project-gallery img, .project-gallery video, .project-gallery embed {
    padding: 20px;
    max-height: 100vw;
  }
  .project-gallery img:first-child, .project-gallery video:first-child, .project-gallery embed:first-child {
    padding-right: 20px;
    padding-left: 20px !important;
    padding-bottom: 10px;
  }
  .project-gallery img:last-child, .project-gallery video:last-child, .project-gallery embed:last-child {
    padding-left: 20px;
    padding-right: 20px !important;
    padding-bottom: 20px;
  }
  .editListCont {
    flex-flow: column;
    max-width: none;
  }
  .editListCont div {
    max-width: none;
  }
  .editListCont form {
    max-width: none;
  }
  .editPage {
    max-height: none;
  }
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form input[type=submit] {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  letter-spacing: 4px;
}

.login-box input[type=submit]:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f, 0 0 100px #03f40f;
}

.login-box input[type=submit] span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}

.loginPage {
  width: 100vw;
  height: 100vh;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
}

.profileWrapper {
  display: flex;
  flex-flow: row;
  background-color: #38ef7d;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.profileWrapper form {
  flex: 1 0 70%;
  max-width: 70%;
  background-color: #f29f17;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 20px;
}
.profileWrapper form label {
  margin-bottom: 10px;
}
.profileWrapper form input, .profileWrapper form select, .profileWrapper form textarea {
  padding: 10px;
  margin-bottom: 10px;
}
.profileWrapper .profilePage {
  display: flex;
  flex-flow: column;
  background-color: #161616;
  flex: 1 0 30%;
  max-width: 30%;
  height: 100%;
}
.profileWrapper .profilePage img {
  width: 100%;
}
.profileWrapper .profilePage p {
  padding: 20px;
}
.profileWrapper .profilePage p span {
  font-weight: 600;
}

@media only screen and (max-width: 750px) {
  .profileWrapper {
    flex-flow: column;
  }
  .profileWrapper form {
    flex: 1 0 100%;
    max-width: none;
  }
  .profileWrapper .profilePage {
    flex: 1 0 100%;
    max-width: none;
  }
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "gridHead gridHead gridHead" "gridMain gridMain gridMain" "gridMain gridMain gridMain" "gridFooter gridFooter gridFooter";
  width: 100vw;
  background: none;
}

.grid_gap {
  margin: 40px;
}
.grid_gap .p_avatar .bio_panel {
  margin-bottom: 0px !important;
}
.grid_gap #teamSection {
  background: none;
  box-shadow: none;
}

#wrapper {
  margin: auto;
}

.gridHead {
  grid-area: gridHead;
  background: linear-gradient(-45deg, #ff931f, #8800FF, #2C99FF, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease alternate infinite;
  position: relative;
}

.gridMain {
  grid-area: gridMain;
}

.gridFooter {
  grid-area: gridFooter;
}

.gridAside {
  grid-area: gridAside;
}

@media only screen and (max-width: 768px) {
  .gridContainer {
    grid-template-areas: "gridHead gridHead gridHead" "gridMain gridMain gridMain" "gridFooter gridFooter gridFooter";
  }
}
* {
  box-sizing: border-box;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
  background-color: #2C99FF;
  background-image: linear-gradient(-45deg, #FF9B11, #8800FF, #2C99FF, #23d5ab);
}

.noanim {
  animation: none !important;
}

body {
  width: 100%;
  display: flex;
  font-size: 20px;
  color: #161616;
  font-family: montserrat;
  margin: 0px;
  padding: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
  transition: 0.2s ease;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 20px;
  /* Position the tooltip */
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  transition: 0.2s ease;
  opacity: 0;
  font-size: 1rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.75;
}

#teamSection {
  display: grid;
  margin: 0px;
  row-gap: 0px;
  padding: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". . . .";
  background-color: white;
  position: relative;
}
#teamSection .design {
  grid-column: span 1;
}
#teamSection .design-mid {
  grid-column: span 2;
}
#teamSection .design-wide {
  grid-column: span 3 !important;
}
#teamSection .design-large {
  grid-column: span 4;
}

.pageTitle {
  padding: 20px;
  font-size: 20px;
  padding-left: 60px;
  color: white;
  background-color: #161616;
  width: 100%;
  font-family: montserrat;
  position: sticky;
  top: 0;
  z-index: 1;
  line-height: 2rem;
}
.pageTitle .blurb h2 {
  text-align: left !important;
}

.p_avatar {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.bio-panel {
  position: relative;
  margin-bottom: -4px;
  color: #ffffff;
  line-height: 1;
  flex: 1 0;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.bio-panel img, .bio-panel video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.bio-panel video {
  width: 100vw;
  object-fit: contain;
}
.bio-panel h2, .bio-panel h3, .bio-panel p {
  padding-left: 15px;
}
.bio-panel h2 {
  font-size: 24px;
  padding-bottom: 5px;
}
.bio-panel h3 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.bio-panel p {
  font-size: 12pt;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .bio-panel {
    padding: 0px;
    flex: 1;
  }
  .bio-panel img, .bio-panel video {
    padding: 0;
    margin: 0;
    opacity: 1;
  }
  #teamSection .design-mid {
    grid-column: span 4 !important;
  }
  #teamSection .design-wide {
    grid-column: span 4 !important;
  }
  #teamSection .design {
    grid-column: span 4 !important;
  }
}
#call {
  opacity: 0;
}

#mainTopBar {
  margin-top: 30px;
}

.menuWrapper {
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.textBoxTitle {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

#dynamicTitle {
  justify-self: flex-start !important;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dynamicTitleMobile {
  display: none !important;
}

.pageTitle {
  font-size: 1.5rem;
  background-color: transparent !important;
  text-align: left;
}

.popBoxTitle {
  height: fit-content;
  font-size: clamp(1.5rem, 2vw, 2rem);
  width: auto !important;
  position: static !important;
  text-align: center;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
}

.socialMenu li a svg:hover {
  fill: #ff9500;
}

header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  max-height: 100vh;
  height: 100vh;
  z-index: 0;
  align-items: center;
  justify-content: center;
}
header .siteTitle {
  color: #ffffff;
  float: right;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust column sizes as needed */
  gap: 20px; /* Adjust gap between components as needed */
}

.hero-component {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -60px;
}
.hero-component h2 {
  font-family: montserrat;
  font-size: 36px;
  margin-bottom: 20px;
}
.hero-component p {
  margin-bottom: 10px;
}

.headerWrapper {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.topBarTwo {
  position: fixed;
  left: 40px;
  top: 20px;
}

.topBar {
  width: 100%;
  position: sticky !important;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.topBar h2 {
  color: #ffffff;
}
.topBar .musicNote {
  cursor: pointer;
}

.tbtwo {
  justify-content: space-between;
  background-color: #161616;
  z-index: 3;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tbtwo .blurb .menus li a svg:hover {
  fill: #1d89ff;
}

.admin .menus li a:hover {
  color: #38ef7d;
}

.blanks {
  background: none;
  justify-content: space-between;
}

.okay-btns {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.okay-btns button {
  flex: 1;
  margin: 10px;
}

.menus {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menus li a {
  color: #ffffff;
  font-size: 22px;
  font-family: montserrat;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.25s ease;
}
.menus li a:hover {
  color: #38ef7d !important;
}
.menus svg {
  transition: 0.2s ease;
}

.textFlash {
  animation: textFlash 10s 2s ease;
}

.blurb {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
}
.blurb h2 {
  color: #ffffff;
}
.blurb a {
  cursor: pointer !important;
}
.blurb svg {
  height: 40px;
  width: 40px;
  margin: 15px;
  fill: #ffffff;
}
.blurb svg:hover {
  fill: #ff9500;
}
.blurb svg:active {
  transform: scale(1.5);
}
.blurb .closeSVG {
  stroke: #ffffff;
}
.blurb .closeSVG:hover {
  stroke: #cb0000;
}
.blurb .spinarrow {
  height: 40px;
  width: 40px;
  opacity: 0;
  animation: arrowSpin 10s 2s ease;
  margin-right: 50px;
  margin-left: 0px;
}
.blurb .spinarrow:hover {
  fill: #ffffff;
}

.spinning {
  animation: spinny 5s 5s infinite ease;
}

.scrollDown {
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 40px;
  left: 0;
  opacity: 0;
  align-items: center;
  width: 100vw;
}
.scrollDown svg {
  height: 80px;
  width: 80px;
  fill: #ffffff;
  display: none;
}

.onlyMobile {
  display: none !important;
}

@media only screen and (max-width: 900px) {
  #mainTopBar {
    margin-top: 10px;
  }
  #dynamicTitle {
    display: none !important;
  }
  #dynamicTitle svg {
    display: none !important;
  }
  .blurb svg {
    margin: 0px !important;
    margin-top: 10px !important;
  }
  .topBar {
    padding-right: 20px;
    padding-left: 20px;
    justify-content: center;
  }
  .tbtwo {
    justify-content: flex-start;
  }
  header {
    max-height: none;
  }
  .onlyMobile {
    display: flex;
  }
  .noMobile {
    display: none;
  }
  .blurb ul {
    width: 100vw;
    justify-content: space-around;
  }
  .blurb ul svg {
    margin-left: 0px;
  }
}
.gridFooter {
  padding-left: 60px;
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 0px;
  background-color: #161616;
  flex-flow: row nowrap;
  height: 40vh;
  margin-bottom: 0px;
  z-index: 3;
}
.gridFooter .menus li a, .gridFooter .menus li svg {
  cursor: pointer;
}
.gridFooter .menus li a:hover, .gridFooter .menus li svg:hover {
  fill: #ff9500;
  color: #ff9500;
}

.gridSocial {
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.gridSocial li a svg {
  fill: #ffffff;
}
.gridSocial li a svg:hover {
  fill: #ff9500;
}

.spaceBt {
  justify-content: space-around;
  display: flex;
  flex-flow: row;
}
.spaceBt li, .spaceBt a {
  padding: 0px !important;
  margin-left: 10px;
  margin-right: 10px;
}
.spaceBt li svg, .spaceBt a svg {
  height: 50px;
  fill: white;
}

.footerLinks {
  margin-top: 20px;
  padding: 10px;
  flex: 3;
  display: flex;
  justify-content: space-between;
}
.footerLinks h2, .footerLinks h3 {
  color: #ffffff;
}
.footerLinks li {
  margin-left: 10px;
  margin-right: 10px;
}

.adminMenuFooter {
  opacity: 0;
}

@media only screen and (max-width: 750px) {
  .gridFooter {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    flex-flow: column nowrap;
  }
  .gridSocial {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
.paused {
  animation-play-state: paused;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.loader-hamster-enter-active {
  transition: all 0.4s ease;
}

.loader-hamster-leave-active {
  transition: all 0.4s ease;
}

.loader-hamster-enter, .loader-hamster-leave-to {
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.4s ease;
}

.slide-fade-leave-active {
  transition: all 0.4s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease;
}

.slide-fade-two-enter-active {
  transition: all 0.4s ease;
}

.slide-fade-two-leave-active {
  transition: all 0.4s ease;
}

.slide-fade-two-enter, .slide-fade-two-leave-to {
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease;
}

.slide-fade-down-enter-active {
  transition: all 0.4s ease;
}

.slide-fade-down-leave-active {
  transition: all 0.4s ease;
}

.slide-fade-down-enter, .slide-fade-down-leave-to {
  opacity: 0;
  transform: scale(0) translateY(-100vh);
  transition: all 0.4s ease;
}

.slide-fade-up-enter-active {
  transition: all 0.4s ease;
}

.slide-fade-up-leave-active {
  transition: all 0.4s ease;
}

.slide-fade-up-enter, .slide-fade-up-leave-to {
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease;
}

.image-trans-enter-active {
  transition: all 0.4s ease;
}

.image-trans-leave-active {
  transition: all 0.4s ease;
}

.image-trans-enter, .image-trans-leave-to {
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease;
}

.image-slide-enter-active {
  transition: all 0.4s ease;
}

.image-slide-leave-active {
  transition: all 0.4s ease;
}

.image-slide-enter, .image-slide-leave-to {
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease;
}

.big-small-enter-active {
  transition: all 5s ease;
}

.big-small-leave-active {
  transition: all 5s ease cubic-bezier(1, 0.5, 0.8, 1);
}

.big-small-enter {
  transition: 5s ease;
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}
.drips {
  background-image: url(../dist/backgrounds/drips_black.svg);
  background-repeat: repeat-x;
  background-size: contain;
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
}

@keyframes arrowSpin {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  5% {
    transform: rotate(360deg);
    opacity: 1;
  }
  99% {
    transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}
.help {
  cursor: help !important;
}

@keyframes spinny {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes textFlash {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientFill {
  0% {
    fill: linear-gradient(-90deg, #FF9B11, #8800FF, #2C99FF, #23d5ab);
  }
  50% {
    fill: linear-gradient(-45deg, #FF9B11, #8800FF, #2C99FF, #23d5ab);
  }
  100% {
    fill: linear-gradient(-90deg, #FF9B11, #8800FF, #2C99FF, #23d5ab);
  }
}
@keyframes textThrob {
  0% {
    transform: translate(0px, 0px) skew(0deg, 0deg);
    letter-spacing: normal;
    overflow: hidden;
  }
  25% {
    transform: translate(0px, 0px) skew(0deg, 10deg);
    letter-spacing: 5px;
  }
  50% {
    transform: translate(0px, 0px) skew(0deg, 0deg);
    letter-spacing: normal;
  }
  75% {
    transform: translate(0px, 0px) skew(0deg, -10deg);
    letter-spacing: 5px;
  }
  100% {
    transform: translate(0px, 0px) skew(0deg, 0deg);
    letter-spacing: normal;
  }
}
.textThrob {
  animation: textThrob 20.4s infinite ease-out;
}

.lightBox {
  top: 0;
  left: 0;
  position: fixed;
  overflow-y: scroll !important;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  background-color: #ffffff;
}
.lightBox .lb-image {
  min-height: 100vh;
  display: flex;
  height: auto;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.lightBox .lb-image .in-image {
  width: fit-content;
  height: auto;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.lightBox .lb-image .in-image ul {
  display: flex;
  flex-flow: row;
  position: fixed;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  justify-content: space-between;
}
.lightBox .lb-image .in-image ul li {
  padding: 20px;
}
.lightBox .lb-image img {
  max-height: 40vw;
  max-width: 80vw;
  object-fit: contain;
  object-position: center top;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.lightBox .lb-image video {
  max-height: 40vw;
  max-width: 80vw;
  object-fit: contain;
  object-position: center top;
  cursor: pointer;
}
.lightBox .design img {
  border: 10px solid rgb(255, 255, 255);
}

.lightBoxMenu {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.link {
  z-index: 3;
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.link a {
  font-size: 12px;
  color: #161616;
  text-decoration: none;
  margin-left: 20px;
}

.lb-text {
  background-color: #ffffff;
  padding: 40px;
  padding-left: 120px;
  padding-right: 120px;
  line-height: 26px;
  font-size: 16px;
  flex: 1;
}
.lb-text .lb-title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.351);
  font-size: 26px;
  margin-bottom: 30px;
  color: #161616 !important;
  font-family: 28px;
}

.small {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.small .lb-image {
  flex: 1;
}
.small .lb-image img {
  max-width: 800px;
  max-height: 800px;
}
.small .lb-text {
  flex: 1;
}

.large {
  flex-flow: column nowrap;
}
.large .lb-text {
  flex: 1;
  transition: 0.35s ease;
  padding: 50px;
}
.large .lb-text:hover {
  opacity: 0.3;
}
.large .lb-image {
  flex: 1 0 80%;
  max-height: 80%;
}
.large .lb-image img {
  max-width: 100vw !important;
}

.websize {
  overflow: overlay;
  flex-flow: row nowrap;
}
.websize .lb-text {
  flex: 1 0 30%;
  max-width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  padding: 10px;
  height: 100%;
  max-width: 30%;
  padding-left: 40px;
  transition: 1s ease;
  padding-top: 100px;
}
.websize .lb-text .lb-title {
  font-size: 32px;
}
.websize .lb-text .lb-subtitle {
  font-size: 20px;
}
.websize .lb-text:hover {
  opacity: 0.1%;
}
.websize .lb-image {
  display: flex;
  padding: 20px;
  flex: 1 0 70%;
  max-width: 70%;
  justify-content: space-between;
}

.design .lb-text .lb-title {
  color: rgb(255, 255, 255);
}

.threedee-large .lb-text .lb-title {
  color: rgb(254, 2, 245);
}

@media only screen and (max-width: 900px) {
  .lightBox .lb-image {
    padding: 0px !important;
  }
  .lightBox .lb-image .in-image {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    height: auto;
  }
  .lightBox .lb-image .in-image ul {
    position: static;
    width: 100%;
  }
  .lightBox .lb-image .in-image img, .lightBox .lb-image .in-image video {
    overflow: hidden;
    object-fit: contain;
    height: 80vw !important;
    max-height: none;
    object-position: center center;
  }
  .lb-image img {
    padding: 0px !important;
    width: 100%;
  }
  .lb-text {
    padding-right: 40px;
    padding-left: 40px;
  }
  .small {
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .small .lb-image {
    width: 100%;
    max-width: 100%;
  }
  .small .lb-image img {
    width: 100%;
  }
  .small .lb-text {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 20px;
  }
}
.large {
  display: flex;
}
.large .lb-text {
  flex: 1 0 50%;
  min-height: 1000px;
}

.smoothScroll {
  scroll-behavior: smooth;
}

.logoBox {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.logoBox svg {
  width: 90vw;
  max-height: 80vh;
}

.titleLogo {
  padding: 0px;
  overflow: visible;
  fill: rgba(255, 255, 255, 0);
}

.cls-1 {
  fill: none;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 3.5s linear forwards;
  overflow: visible;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0);
  }
  5% {
    stroke: #ffffff;
  }
  30% {
    stroke-width: 1.69px;
    stroke: #ffffff;
  }
  50% {
    stroke-dashoffset: 0;
    stroke: #ffffff;
  }
  100% {
    stroke-dashoffset: 1000;
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 0px;
  }
}
.popPageTitle {
  position: absolute;
  left: 40px;
  top: 20px;
  width: fit-content;
  max-width: fit-content;
}

.titleArrow {
  height: 40px;
  width: 40px;
  fill: #ffffff;
  animation: arrowSpin 10s ease;
  margin: 15px;
  padding: 10px;
}

.pageButton {
  flex: 0 0 100%;
}

.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #2C99FF 0%, #8800FF 29%, #00ff00 45%, #FF9B11 67%, #23d5ab 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s alternate slidein;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.editPageImages {
  display: flex;
  flex-flow: row wrap;
}
.editPageImages div {
  flex: 1 0 50%;
  max-width: 50%;
}
.editPageImages div img {
  max-width: 100%;
  max-height: 100%;
}

.contentChunkAbove {
  vertical-align: left;
}

.contact-page {
  display: flex;
  padding-top: 0px;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  position: relative;
  text-shadow: 1px 1px 0px black;
}
.contact-page h2 {
  font-size: 2rem !important;
}
.contact-page > ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.contact-page .contactInfo {
  flex: 1 0 30%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 40px;
  align-items: center;
  justify-content: center;
}
.contact-page .contactInfo img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  box-shadow: 0px 0px 10px inset rgba(0, 0, 0, 0.65), 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.contact-page form {
  flex: 2 0 60%;
  border-radius: 0px 0px 15px 0px;
  padding: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contact-page form select {
  width: 80%;
  float: right;
  border: 1px solid #1d89ff;
}
.contact-page form .short {
  max-width: 80%;
  float: right;
}
.contact-page h2 {
  font-size: 24px;
  padding: 20px;
  text-transform: uppercase;
  color: #161616;
  text-align: right;
  color: #ffffff;
  border-radius: 15px;
  font-weight: 600;
}
.contact-page input[type=text], .contact-page select, .contact-page textarea {
  font-family: montserrat;
  width: 100%; /* Full width */
  padding: 16px; /* Some padding */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  resize: none; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-size: 16px;
  color: #ffffff !important;
  border-radius: 0px;
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}
.contact-page input[type=text]::placeholder, .contact-page select::placeholder, .contact-page textarea::placeholder {
  color: #ffffff;
}
.contact-page textarea {
  max-height: 400px;
  min-height: 200px;
}
.contact-page label {
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
  text-shadow: 1px 1px 0px black;
  display: none;
}
.contact-page button[type=submit] {
  margin-top: 20px;
  float: right;
}

#bCard {
  color: #ffffff;
  font-family: montserrat;
  font-size: 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden;
}
#bCard .textBlocks {
  height: fit-content;
  width: fit-content;
}
#bCard .blurb nav .menus {
  width: auto;
}

#bCard .nameTag {
  display: inline-block;
  overflow: visible;
}
#bCard .nameTag span {
  display: inherit;
  font-weight: 600;
}
#bCard h2 {
  font-weight: 200;
  font-size: clamp(2.4rem, 2.5vw, 3rem);
  text-transform: capitalize;
  text-align: center;
  overflow: hidden;
  align-self: top;
  flex: 0 0 100%;
  width: 100%;
}
#bCard h2 span {
  font-weight: 600;
}

#bCard h3 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

#bCard h3 a {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  text-decoration: none;
  transition: 0.25 ease;
}

#bCard h4 {
  padding: 10px;
  font-weight: 600;
  text-align: center;
  background-color: #161616;
  border-radius: 15px;
  color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
}

.mapouter {
  position: relative;
  border-radius: 15px;
}
.mapouter iframe {
  border-radius: 15px;
  height: inherit;
  width: inherit;
  overflow: hidden;
}

.boxLinksContact {
  border-radius: 0px 0px 0px 15px;
}

@media only screen and (max-width: 900px) {
  #bCard h2 {
    margin-top: 20px;
  }
  #bCard .blurb li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .contact-page {
    flex-flow: column nowrap;
  }
  .contact-page .contactInfo {
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    flex: 1 0 100%;
    max-width: 100%;
  }
  input[type=submit] {
    width: 100%;
  }
  .contact-page form {
    margin-top: 0px;
  }
  .boxLinksContact {
    margin-top: 0px;
  }
}
#load {
  height: 50px;
  max-height: 50px;
}

#result_no {
  max-height: 50px;
}

.result {
  text-align: left;
  background-color: grey;
  width: 400px;
  padding: 10px;
  box-sizing: border-box;
  color: #F2F2F2;
  border-radius: 3px;
  border: 1px solid #424242;
  font-style: italic;
}

#load {
  width: 400px;
  height: 40px;
  color: brown;
  background-color: brown;
  border-radius: 3px;
  color: white;
  border: none;
  font-size: 17px;
}

p {
  color: white;
}

input {
  background-color: white;
}

.pausedBG {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1; /* Adjust the z-index value as needed */
  transition: 0.2s ease;
  cursor: pointer;
}

.dots-container {
  background-color: red !important;
  height: 40px;
  width: 200px !important;
  flex: 0 0 100% !important;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.pausedText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 40px;
  z-index: 1; /* Adjust the z-index value as needed */
  transition: 0.2s ease;
}

.pausedBG:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Set z-index to -1 to place it behind the text */
}

.list404 h2 {
  margin-bottom: 10px;
  padding: 0px;
}
.list404 h3 {
  margin-top: 0px;
}

#clickMeButton {
  font-size: 1rem;
  width: 200px;
}
#clickMeButton:hover span {
  display: none !important;
}
#clickMeButton:hover:before {
  content: "Okay.";
}

.okay-btns a {
  text-decoration: none;
}

#goBackButton {
  text-decoration: none !important;
  font-size: 1rem;
  width: 200px;
}
#goBackButton:hover span {
  display: none !important;
}
#goBackButton:hover:before {
  content: "Go Back.";
}

.grow_bigger {
  font-size: 2rem !important;
  font-weight: 600;
  width: 400px !important;
  border-radius: 20px !important;
  transition: 0.2s;
}
.grow_bigger span {
  font-size: inherit;
}

#playMusicButton {
  display: flex;
  width: auto;
}
#playMusicButton a svg {
  cursor: pointer;
}
#playMusicButton a svg:hover {
  fill: #ff9500;
  transition: 0.2s ease-in;
  opacity: 1;
}

.videoChunk {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 100%;
  display: flex;
}
.videoChunk video {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  cursor: pointer;
}

button {
  position: relative;
  margin: 0;
  padding: 17px 35px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.btn-shine {
  border: 1px solid white;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  color: White !important;
}
.btn-shine span {
  color: white;
}
.btn-shine:hover {
  border: 1px solid rgba(255, 255, 255, 0);
}

.btn-shine2 {
  border: none;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: #ffffff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.switch {
  /* switch */
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-bg: rgb(131, 131, 131);
  --switch-checked-bg: rgb(0, 218, 80);
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
  --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  /* circle */
  --circle-diameter: 18px;
  --circle-bg: #fff;
  --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
  --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
  --circle-transition: var(--switch-transition);
  /* icon */
  --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  --icon-cross-color: var(--switch-bg);
  --icon-cross-size: 6px;
  --icon-checkmark-color: var(--switch-checked-bg);
  --icon-checkmark-size: 10px;
  /* effect line */
  --effect-width: calc(var(--circle-diameter) / 2);
  --effect-height: calc(var(--effect-width) / 2 - 1px);
  --effect-bg: var(--circle-bg);
  --effect-border-radius: 1px;
  --effect-transition: all .2s ease-in-out;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
}

.switch svg {
  -webkit-transition: var(--icon-transition);
  -o-transition: var(--icon-transition);
  transition: var(--icon-transition);
  position: absolute;
  height: auto;
}

.switch .checkmark {
  width: var(--icon-checkmark-size);
  color: var(--icon-checkmark-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch .cross {
  width: var(--icon-cross-size);
  color: var(--icon-cross-color);
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: var(--switch-transition);
  -o-transition: var(--switch-transition);
  transition: var(--switch-transition);
  cursor: pointer;
}

.circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: var(--circle-bg);
  border-radius: inherit;
  -webkit-box-shadow: var(--circle-shadow);
  box-shadow: var(--circle-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  z-index: 1;
  position: absolute;
  left: var(--switch-offset);
}

.slider::before {
  content: "";
  position: absolute;
  width: var(--effect-width);
  height: var(--effect-height);
  left: calc(var(--switch-offset) + var(--effect-width) / 2);
  background: var(--effect-bg);
  border-radius: var(--effect-border-radius);
  -webkit-transition: var(--effect-transition);
  -o-transition: var(--effect-transition);
  transition: var(--effect-transition);
}

/* actions */
.switch input:checked + .slider {
  background: var(--switch-checked-bg);
}

.switch input:checked + .slider .checkmark {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.switch input:checked + .slider .cross {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch input:checked + .slider::before {
  left: calc(100% - var(--effect-width) - var(--effect-width) / 2 - var(--switch-offset));
}

.switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
  -webkit-box-shadow: var(--circle-checked-shadow);
  box-shadow: var(--circle-checked-shadow);
}

@media only screen and (max-width: 750px) {
  .videoChunk {
    height: 100%;
  }
  .videoChunk video {
    width: 100%;
  }
}
.dynamicWrapper {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -99;
}

.dynamicWrapperNotFixed {
  position: fixed !important;
  height: fit-content;
  width: 100%;
  top: 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

@keyframes bounceUpAndDown {
  0%, 100% {
    transform: scale(1) skewX(0deg);
  }
  25% {
    transform: scale(1.025) skewX(10deg);
  }
  50% {
    transform: scale(1) skewX(-10);
  }
  75% {
    transform: scale(1.025) skewX(5deg);
  }
}
.jumpText span {
  --hover-color-1: #ff931f; /* Replace with your color values */
  --hover-color-2: #8800FF;
  --hover-color-3: #2C99FF;
  --hover-color-4: #23d5ab;
  animation: jumpDown 40s infinite ease; /* 4 colors * 3s each */
  animation-delay: calc(var(--index) * 0.25s); /* 4 colors * 3s each + 0.15s initial delay */
}

@keyframes jumpDown {
  0%, 2.75%, 100% {
    transform: translateY(0);
  }
  .25%, .5% {
    transform: translateY(-10px);
  }
  .5%, 1% {
    transform: translateY(10px);
  }
  1%, 1.5% {
    transform: translateY(0);
  }
  2%, 2.5% {
    transform: translateY(-10px);
  }
}
@keyframes pause {
  0%, 100% {
    transform: translateY(0);
  }
}
.whackyText span {
  animation: bounceUpAndDown 5s infinite alternate ease;
  animation-delay: calc(var(--index) * 0.5s);
}

@keyframes wavyGlyph {
  0%, 100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  25% {
    clip-path: polygon(0 100, 100% 0, 100% 100%, 80% 100%, 50% 50%, 20% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 50% 50%, 40% 100%, 0 100%);
  }
  75% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 50% 50%, 60% 100%, 0 100%);
  }
}
.wavy-glyph span {
  display: inline-block;
  animation: wavyGlyph 1s infinite ease-in-out;
  animation-delay: calc(var(--index) * 0.5s);
}

@media only screen and (max-width: 900px) {
  .dynamicWrapper {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index: -99;
  }
}
.cls-orange {
  fill: #ff931f;
}

.cls-purple {
  fill: #8800FF;
}

.cls-blue {
  fill: #2C99FF;
}

.cls-green {
  fill: #23d5ab;
}

.loaderWrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 20%, rgb(208, 208, 208) 100%);
}

.loaderWrapperThumb {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.loaderLogo {
  stroke: black;
  height: auto;
  width: 300px;
  opacity: 1;
  overflow: visible;
  fill: white;
  stroke-width: 2px;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.about-page {
  display: flex;
  flex-flow: column wrap;
  justify-content: center !important;
  align-items: center;
  flex-basis: 100% !important;
  min-height: 100%;
  padding-top: 20px;
}
.about-page .textBox {
  flex: 0 0 45%;
  max-width: 45%;
  display: flex;
  justify-content: flex-start !important;
  max-height: none;
  flex-basis: 100%;
  position: relative;
  text-align: justify;
  border: none !important;
}
.about-page h2 {
  text-shadow: 1px 1px 0px black;
  text-align: center !important;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 2rem !important;
}
.about-page .left-col li h3 {
  align-items: right;
  text-align: right !important;
}
.about-page ul {
  text-align: left;
  position: relative;
}
.about-page p {
  font-size: clamp(16px, 2vw, 20px);
  line-height: clamp(24px, 2vw, 36px);
  text-shadow: 1px 1px 0px black;
  flex-basis: 100%;
  height: 100%;
}
.about-page p span {
  font-weight: bold;
}

.aboutDots {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.dot.active {
  background-color: #ff9500;
}

.textBox-container {
  display: flex;
  justify-content: center;
}

.textBox.show {
  display: flex;
}

@media only screen and (max-width: 900px) {
  .aboutDots {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .aboutDots .dot {
    height: 10px;
    width: 10px;
  }
  .about-page {
    flex-flow: column nowrap;
    flex: 0 0 100%;
    max-width: 100%;
    height: fit-content !important;
    max-height: none;
    overflow-y: scroll !important;
  }
  .about-page::-webkit-scrollbar {
    display: none;
  }
  .about-page .textBox {
    flex: 0 0 100%;
    max-width: 100%;
    flex-flow: column;
    padding: 20px;
    border: 0px !important;
    height: fit-content;
  }
  .about-page .textBox p {
    padding-left: 0px;
  }
  .about-page .textBox p:nth-of-type(1) {
    padding-right: 0px;
  }
  .about-page .textBox p:nth-of-type(2) {
    padding-left: 0px;
  }
  .about-page ul {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
*::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: transparent; /* color of the scroll thumb */
}/*# sourceMappingURL=main.css.map */