.thumbButtons{
    position: relative;
    display: flex;
    background-color: red;
}

.editPageImg{
    margin:0px;
    padding:0px !important;
    border:white 2px solid;
}

.editPage{
    display: flex;
    flex-flow: column;
    padding:40px;
}


.projectListCont{
    display: flex;
    flex-flow:row wrap;
    flex:3 0 75%;
    max-width: 75%;
    justify-content: space-evenly;
    overflow-y: scroll;
    height:100vh;
    img{
        max-height:200px;
        padding:20px;
    }
}

.editListCont{
    flex:1 0 100%;
    max-width: none;
}

input[type="submit"] {
    background-color: black;
    color:white;
}
.listForms{
    flex:1 0 25%;
    max-width: 25%;
    background-color: white;
    padding-left:20px;
    box-shadow:5px 10px 10px black;
}
.project-list{
    font-size: 26px;
    font-family: montserrat;
    background-color: white;

    padding:10px;
    display: flex;
    flex-flow: row;
    padding:20px;
    align-items: center;
    flex:1 0 30%;
    // box-shadow: 5px 5px black;
    
    p{
        color:black !important;

    }
    a{
    font-size: 10px;
    font-family: rockwell;
    color:red;
    }
}
.adminWrapper{
    display: flex;
    flex-flow: row;
    min-height: 100vh;
    background-color: lightblue;
    justify-content: center;
    width: 100%;
    

}

p2{
    font-size: 16px !important;
    color:#494949;
}

.project-gallery{
    display: flex;
    overflow-x: scroll;
    img{
    object-fit: contain;
    width: 100%;
    max-height: 50vw;
    }

}

.projectText{
    padding:140px;
    background-color: white;
    h1{
        margin-bottom: 30px;
        font-size: 36px;

    }
    p{
        line-height: 30px;
        color:#000;
        text-align: justify;
        font-size: 26px !important;
        border-left:1px rgb(74, 74, 74) solid;
        padding-left:20px;
        

    }
}

.projectDetails{
    display: flex;
    flex-flow: column;
}

.backButton{
height:50px;
position: fixed;
bottom:20px;
left:20px;
opacity: .15;
cursor: pointer;
}

#backButton:hover{
    opacity:.9;
}






.adminWrapper form{
    display: flex;
    flex-flow: column;
    margin:40px;

    label{
        font-size: 16px;
        color:red;

    }
    input, textarea, select{
        height:30px;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 750px) {

    .projectListCont{
        display: flex;
        flex-flow:row wrap;
        flex:1 0 100%;
        max-width: 100%;
        justify-content: space-evenly;
        max-height: none;
        overflow-y: auto;
        height:none;}
    .adminWrapper{
        flex-flow: column;
        max-height: none;
        min-height: none;
    }
    .listForms{
        flex:1 0 100%;
        max-width: 100%;
        background-color: white;
        padding-left:20px;


    }
    .projectListCont{
        display: flex;
        flex-flow: column;
        flex:1 0 100%;
        max-width: none;
        min-width: 100%;
        justify-content: space-evenly;
        img{
            max-height:200px;
            padding:20px;
        }
    }
    .projectText{
        padding:40px;
        h1{
            margin-bottom: 30px;
            font-size: 26px;
    
        }
        p{
            line-height: 30px;
            color:#000;
            text-align: justify;
            font-size: 16px !important;
    
        }
    }

    .project-gallery{
        flex-flow: column !important;
        img{
            max-height: 100vw;
        }
    }

}