/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .4s ease;
  }
  .slide-fade-leave-active {
    transition: all .4s ease;
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    // transform: translateY(-10vh); //scaley(.8) scalex(.2);
    // filter: blur(50px);
    opacity: 0;
    transform:scale(0) translateX(-100vw);
    transition: all .4s ease;

  }

  //slide fade 2

  .slide-fade-two-enter-active {
    transition: all .4s ease;
  }
  .slide-fade-two-leave-active {
    transition: all .4s ease;
  }
  .slide-fade-two-enter, .slide-fade-two-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    // transform: translateY(-10vh); //scaley(.8) scalex(.2);
    // filter: blur(50px);
    opacity: 0;
    transform:scale(0) translateX(100vw);
    transition: all .4s ease;

  }

//moves down instead of over
.slide-fade-down-enter-active {
  transition: all .4s ease;
}
.slide-fade-down-leave-active {
  transition: all .4s ease;
}
.slide-fade-down-enter, .slide-fade-down-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  // transform: translateY(-10vh); //scaley(.8) scalex(.2);
  // filter: blur(50px);
  opacity: 0;
  transform:scale(0) translateY(-100vh);
  transition: all .4s ease;

}

//moves up instead of over
.slide-fade-up-enter-active {
  transition: all .4s ease;
}
.slide-fade-up-leave-active {
  transition: all .4s ease;
}
.slide-fade-up-enter, .slide-fade-up-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  // transform: translateY(-10vh); //scaley(.8) scalex(.2);
  // filter: blur(50px);
  opacity: 0;
  transform:scale(0) translateY(100vh);
  transition: all .4s ease;

}


  .image-trans-enter-active {
    transition: all .4s ease;
  }
  .image-trans-leave-active {
    transition: all .4s ease;
  }
  .image-trans-enter, .image-trans-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    // transform: translateY(-10vh); //scaley(.8) scalex(.2);
    opacity: 0;
    transform:scale(0) translateX(100vw);
    transition: all .4s ease;        
  }

  .image-slide-enter-active {
    transition: all .4s ease;
  }
  .image-slide-leave-active {
    transition: all .4s ease;
  }
  .image-slide-enter, .image-slide-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    // transform: translateY(-10vh); //scaley(.8) scalex(.2);
    opacity: 0;
    transform:scale(0);
    transition: all .4s ease;        
  }

  .big-small-enter-active{ transition: all 5s ease;}
  .big-small-leave-active{transition: all 5s ease cubic-bezier(1.0, 0.5, 0.8, 1.0);}
  .big-small-enter{transition: 5s ease;opacity:0;}

  @keyframes pulse{
    0%{
      transform:scale(1);
    }

    50%{
      transform:scale(1.025);
    }

    100%{
      transform:scale(1);
    }
  }

  .drips{
    background-image: url(../dist/backgrounds/drips_black.svg);
    background-repeat: repeat-x;
    background-size:contain;
    height:100px;
    width:100%;
    padding:0;
    margin:0;
    z-index: 1;
  }

  @keyframes arrowSpin {
    0%{
transform: rotate(90deg);
opacity:0;
    }
    5%{
transform:rotate(360deg);
opacity:1;
    }
    99%{
      transform:rotate(360deg);
      opacity:1;

    }
    100%{
      transform:rotate(0deg);
      opacity:0;
    }
  }

  .help{
    cursor:help !important;
  }


  @keyframes spinny {
    0%{
transform: rotate(0deg);
    }

    25%{
      transform:rotate(360deg);
    }

    50%{
      transform:rotate(0deg);

    }

    100%{
      transform:rotate(0deg);
    }
  }

  @keyframes textFlash {
    0%{
opacity:0;
    }
    5%{
opacity:1;
    }
6%{
  opacity:0;
}
10%{
  opacity:1;
}
    99%{
      opacity:1;

    }
    100%{
      transform:rotate(0deg);
      opacity:0;
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }




  @keyframes gradientFill {
    0% {
      fill: linear-gradient(-90deg, #FF9B11, #8800FF, #2C99FF, #23d5ab);
    }
    50% {
      fill: linear-gradient(-45deg, #FF9B11, #8800FF, #2C99FF, #23d5ab);
    }
    100% {
      fill: linear-gradient(-90deg, #FF9B11, #8800FF, #2C99FF, #23d5ab);
    }
  }
  @keyframes textThrob{
    0%{
      transform: translate(0px, 0px) skew(0deg, 0deg);  
      letter-spacing: normal;  
      overflow: hidden;
    }
    25%{
      transform: translate(0px, 0px) skew(0deg, 10deg);    
      letter-spacing: 5px;  

    }
    50%{
      transform: translate(0px, 0px) skew(0deg, 0deg);   
      letter-spacing: normal;  

    }
    75%{
      transform: translate(0px, 0px) skew(0deg, -10deg);   
      letter-spacing: 5px;  

    }
    100%{
      transform: translate(0px, 0px) skew(0deg, 0deg);   
      letter-spacing: normal;  

    }
  }

 .textThrob{
  animation:textThrob 20.4s infinite ease-out;
 }
  
 