.smoothScroll{
    scroll-behavior: smooth;
}

.logoBox{
    display: flex;
    height:fit-content;
    align-items: center;
    justify-content: center;
    position: fixed;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    svg{
    width:90vw;
    max-height:60vh;
    

    // animation: spinLogo 5s ease infinite;
    }
}

.blurbMenu{
    display: flex;
    flex-flow: column !important;
    font-weight: 700 !important;
}
.titleLogo{
    padding:0px;
    overflow: visible;
    fill:rgba(255,255,255,0);
    // filter:blur(10px);
    animation:logoFade 3s linear forwards;
    
}

.cls-1 {
    fill: none;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
    overflow: visible;
    transform-origin: center center !important;

  }
//   @keyframes draw {
//     to {
//       stroke-dashoffset: 0;
//       stroke:transparent;
//     }
//   }

  @keyframes draw {
    0% {
      stroke-dashoffset: 1000;
      stroke-width: .5px;
      stroke: #ffffff00;


    }
    25%{
        // stroke: #ffffff3b;
        stroke:$white;
    }
    50%{
        stroke-width: 1px;
        // stroke: #ffffff78;
        stroke:$white;
    }

    75%{
        stroke-dashoffset: 0;
        // stroke: #ffffff3b;
        stroke:$white;
        transform: scale(1);
    }
    99%{
        transform:scale(.25);
    }
    100%{
        stroke-dashoffset: 1000;
        stroke: #ffffff00;
        stroke-width: 0px;
        transform:scale(.75);
    }
  }
  @keyframes logoFade{
    0% {
        fill:transparent;  
      }
      50%{
        fill:transparent;  

      }
      75%{
          transform: scale(1);
          fill:#ffffff87;

      }
      99%{
        transform:scale(.1);
        fill:transparent;
      }
      100%{
        fill:transparent;
        //   transform:scale(.25);
        transform:scale(.75);
      }
  }
.popPageTitle{
    position:absolute;
    left:40px;
    top:20px;
    width:fit-content;
    max-width: fit-content;
}
.titleArrow{
    height:40px;
    width:40px;
    fill:$white;
    animation: arrowSpin 10s ease;
    margin:15px;
    padding:10px;
}

.pageButton{
    flex:0 0 100%;
}

.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #2C99FF 0%,
    #8800FF 29%,
    #00ff00 45%,
    #FF9B11 67%,
    #23d5ab 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s alternate slidein;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.editPageImages{
    display: flex;
    flex-flow: row wrap;
    div{
        flex:1 0 50%;
        max-width: 50%;
        img{
            max-width: 100%;
            max-height:100%;
        }}

    }
    .contentChunkAbove{
        vertical-align:left;
    }
.contact-page{ 
    display: flex;
    padding-top:0px;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    position: relative;
    text-shadow: 1px 1px 0px black;
    h2{
        font-size: 2rem !important;
    }

    &>ul{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }



    .contactInfo{
        flex:1 0 30%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        // background-color: hover2;
        padding:40px;
        align-items: center;
        justify-content: center;

        img{
            width:100%;
            max-width: 100%;
            max-height: 100%;
            
            border-radius: 100%;
            box-shadow: $shadow3;
        }
        
    }


    form{
    flex:2 0 60%;
    border-radius: 0px 0px 15px 0px;
    // background-color: blue;
    padding:40px;

    align-items: center;
    justify-content: center;
    position: relative;
    select{
        width:80%;
        float: right;
        border:$thinBorder;

    }
    .short{
        max-width:80%;
        float: right;
    }
    }

    h2{
        font-size:24px;
        padding:20px;
        text-transform: uppercase;
        color:$black;
        text-align: right;
        // background: linear-gradient(-270deg, rgba(255,255,255,0) 20%, rgba(0,0,0,1) 100%);
        color:$white;
        border-radius: 15px;
        font-weight: 600;
        }



    input[type=text], select, textarea {
        font-family:$main-font;
        width: 100%; /* Full width */
        padding: 16px; /* Some padding */ 
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 10px; /* Bottom margin */
        resize: none; /* Allow the user to vertically resize the textarea (not horizontally) */
        font-size:16px;
        color:$white !important;
        border-radius: 0px;
        // box-shadow:$shadow2;
        border: none;
        outline: none;
        box-shadow: none;
        // border:$thinBorder;
        // border-radius: 15px;
        border-bottom: 1px solid white;
        background-color: transparent;
        // border-bottom: 2px solid #e8e8e8;
        // background: transparent;
        &::placeholder{
            color:$white;
        }
    }

    textarea{
        max-height: 400px;
        min-height: 200px;
    }


    label{
        font-size:16px;
        color:$white;
        padding:10px;
        text-shadow: 1px 1px 0px black;
        display: none;
        // font-weight: 600;
    }

    // input{
    //     border-radius: 10px;
    //     padding:10px;
    //     padding-left:20px;
    //     font-size:12px;
    //     border:$thinBorder;
    //     box-shadow: $shadow2;

    // }

    button[type=submit]{
        // font-size:26px;
        // padding:50px;
        // padding-top:10px;
        // padding-bottom:10px;
        // text-transform: uppercase;
        // color:$white;

        // padding:10px;
        // font-weight: 600;
        // text-align: center;
        // background-color:$black;
        // border-radius: 15px;
        // color:$white;
        // box-shadow: $shadowThin;
        margin-top:20px;
        // background:$orangeGrad2;
        // background-color: $black;
        // text-shadow: $textshad1;
        // box-shadow:$shadow3;
        // margin-top:20px;

        float:right;
    }
}

#bCard{
    color:$white;
    font-family:$main-font;
    // border-radius: 15px 0px 0px 0px;
    // background-color: rgb(201, 201, 201);
    font-size: 16px;
    // text-shadow: $textshad1;
    // position: fixed;
    display: flex;
    flex-flow: row wrap;
    align-items: center !important;
    justify-content: center !important;
    overflow:hidden;
    .textBlocks{
        height:fit-content;
        width:fit-content;
    }

    .blurb nav .menus{
        width:auto;
        // li{
        //     margin-right:10px;
        //     margin-left:10px;
        // }
    }


}

#bCard{


    .nameTag{
        display: inline-block;
        overflow: visible;
        
        span{
            display: inherit;
            font-weight: 600;
        }
    }

h2{
    font-weight: 200;
    font-size:clamp(2.4rem,2.5vw,3rem);
    text-transform: capitalize;
    text-align: center;
    overflow: hidden;
    align-self: top;
    flex:0 0 100%;
    width: 100%;
    // background-color: red;
    span{

        font-weight: 600;
    }
}
}

#bCard h3{
    font-weight:400;

    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

#bCard h3 a{
    color:$white;
    font-weight: 700;
    text-transform: uppercase;
    float:right;
    text-decoration: none;
    transition:.25 ease;
}


#bCard h4{
    padding:10px;
    font-weight: 600;
    text-align: center;
    background-color:$black;
    border-radius: 15px;
    color:$white;
    box-shadow: $shadowThin;
}

.gmap_canvas {

    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
    border-radius: 15px;
    box-shadow: $shadowThin;

}

    .mapouter{
        position:relative;
        border-radius: 15px;


        iframe{
            border-radius: 15px;
            height:inherit;
            width:inherit;
            overflow: hidden;
        }
    }

        .boxLinksContact{
            border-radius:  0px 0px 0px 15px;
        }

@media only screen and (max-width: 900px) {

    #bCard{
        // overflow-y: scroll;
        h2{
            margin-top:20px;
        }
        .blurb li{
            margin-left:10px;
            margin-right:10px;
        }
    }

    .contact-page{
        flex-flow:column nowrap;
        .contactInfo{
            padding:0px;
            margin:0px;
            margin-bottom: 0px;
            flex: 1 0 100%;
            max-width: 100%;

        }
    }

    input[type=submit]{
        width: 100%;
    }

    .contact-page form{
     margin-top:0px;
    }

    .boxLinksContact{
        margin-top:0px;
    }
}
