.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #2C99FF 0%,
    #8800FF 29%,
    #FF9B11 67%,
    #23d5ab 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s alternate slidein;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.editPageImages{
    display: flex;
    flex-flow: row wrap;
    div{
        flex:1 0 50%;
        max-width: 50%;
        img{
            max-width: 100%;
            max-height:100%;
        }}

    }

.contact-page{ 
    display: flex;
    padding-top:0px;
    justify-content: center;
    align-items: center;
    z-index: 1;




    .contactInfo{
        flex:1 0 30%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        // background-color: red;
        padding:40px;
        align-items: center;
        justify-content: center;

        img{
            width:100%;
            max-width: 100%;
            max-height: 100%;
            
            border-radius: 100%;
            box-shadow: $shadow3;
        }
        
    }

    form{
    flex:2 0 60%;
    border-radius: 0px 0px 15px 0px;
    // background-color: blue;
    padding:40px;
    align-items: center;
    justify-content: center;
    select{
        width:80%;
        float: right;
        border:$thinBorder;

    }
    .short{
        max-width:80%;
        float: right;
    }
    }

    h2{
        font-size:24px;
        padding:20px;
        text-transform: uppercase;
        color:$black;
        text-align: right;
        // background: linear-gradient(-270deg, rgba(255,255,255,0) 20%, rgba(0,0,0,1) 100%);
        color:$white;

        border-radius: 15px;
        font-weight: 600;
        }



    input[type=text], select, textarea {
        font-family:$main-font;
        width: 100%; /* Full width */
        padding: 16px; /* Some padding */ 
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 10px; /* Bottom margin */
        resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
        font-size:16px;
        color:$black;
        border-radius: 10px;
        box-shadow:$shadow2;
    }

    textarea{
        max-height: 400px;
        min-height: 200px;
        box-shadow: $shadow2;
        border:$thinBorder;

    }


    label{
        font-size:16px;
        color:$white;
        padding:10px;
    }

    input{
        border-radius: 10px;
        padding:10px;
        padding-left:20px;
        font-size:12px;
        border:$thinBorder;
        box-shadow: $shadow2;

    }

    input[type=submit]{
        font-size:26px;
        // padding:50px;
        // padding-top:10px;
        // padding-bottom:10px;
        // text-transform: uppercase;
        // color:$white;

        padding:10px;
        font-weight: 600;
        text-align: center;
        background-color:$black;
        border-radius: 15px;
        color:$white;
        box-shadow: $shadowThin;
        margin-top:20px;
        // background:$orangeGrad2;
        // background-color: $black;
        // text-shadow: $textshad1;
        // box-shadow:$shadow3;
        // margin-top:20px;

        width:100%;
        float:right;
        transition: .2s ease;
    }
    input[type=submit]:hover{
        letter-spacing: 2px;
        
    }
    input[type=submit]:active{
        transform:translateY(2px);
        letter-spacing: 100px;
    }
}

#bCard{
    color:$white;
    font-family:$main-font;
    border-radius: 15px 0px 0px 0px;
    // background-color: rgb(201, 201, 201);
    font-size: 16px;
    // text-shadow: $textshad1;
    // position: fixed;



}

#bCard h2{
    padding-bottom:10px;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

#bCard h3{
    font-weight:400;

    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

#bCard h3 a{
    color:$white;
    font-weight: 700;
    text-transform: uppercase;
    float:right;
    text-decoration: none;
    transition:.25 ease;
}


#bCard h4{
    padding:10px;
    font-weight: 600;
    text-align: center;
    background-color:$black;
    border-radius: 15px;
    color:$white;
    box-shadow: $shadowThin;
}

.gmap_canvas {

    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
    border-radius: 15px;
    box-shadow: $shadowThin;

}

    .mapouter{
        position:relative;
        border-radius: 15px;


        iframe{
            border-radius: 15px;
            height:inherit;
            width:inherit;
            overflow: hidden;
        }
    }

        .boxLinksContact{
            border-radius:  0px 0px 0px 15px;
        }

@media only screen and (max-width: 950px) {


    .contact-page{
        flex-flow:column nowrap;
        .contactInfo{
            padding:0px;
            margin:0px;
            margin-bottom: 0px;
            flex: 1 0 100%;
            max-width: 100%;
        }
    }

    input[type=submit]{
        width: 100%;
    }

    .contact-page form{
     margin-top:0px;
    }

    .boxLinksContact{
        margin-top:0px;
    }
}
