*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(-45deg, #ec7d5b, #ec2370, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;    width: 100%;    display: flex;
    font-size:$main-size;
    color:$black;
    font-family:$main-font;
    margin:0px;
    padding:0px;
}


