*{
    box-sizing: border-box;
}


html,body{
    width:auto !important;
    overflow-x: hidden !important;
    background-color: #2C99FF;
    background-image: linear-gradient(-45deg, #FF9B11, #8800FF, #2C99FF, #23d5ab);

}

.noanim{
    animation:none !important;
}



body{
    width: 100%;    
    display: flex;
    font-size:$main-size;
    color:$black;
    font-family:$main-font;
    margin:0px;
    padding:0px;
}

