.gridFooter{
    padding-left:60px;
    padding-top: 20px;
    padding-right:60px;
    padding-bottom:0px;

    background-color: $black;
    flex-flow:row nowrap;
    height:40vh;

    margin-bottom:0px;
    z-index: 3;

    .menus li{
        a,svg{
            cursor:pointer;
        &:hover{
            fill:$hover;
            color:$hover;
        }
    }
    }
}

.gridSocial{
    padding-right:60px;
    padding-left:60px;
    padding-top:10px;
    padding-bottom: 40px;

    li a svg{
        fill:$white;
    }

    li a svg:hover{
        fill:$hover;
    }

}

.spaceBt{
    justify-content: space-around;
    display: flex;
    flex-flow: row;
    li, a{
        padding:0px !important;
        margin-left: 10px;
        margin-right: 10px;
        svg{
            height:50px;
            fill:white;
        }
    }

}

.footerLinks{
    margin-top:20px;
    padding:10px;
    flex:3;
    display: flex;
    justify-content: space-between;
    h2,h3{
        color:$white;
    }
    li{
        margin-left:10px;
        margin-right:10px;
    }
}

.adminMenuFooter{
    opacity: 0;
}


@media only screen and (max-width: 750px) {

    .gridFooter{
        padding-left:20px;
        padding-top: 20px;
        padding-right:20px;
        padding-bottom:20px;   
        flex-flow: column nowrap;
    }   

        .gridSocial{
            padding-left:20px;
            padding-top: 20px;
            padding-right:20px;
            padding-bottom:20px;    }   

}