.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding:10px 20px;  
    /* Position the tooltip */
    position: absolute;
    top:20px;
    left:20px;
    z-index: 1;
    transition:.2s ease;
    opacity: 0;
    font-size: 1rem;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: .75;
  }

#teamSection{
    // display:flex;
    // flex-wrap: wrap;
    display: grid; 
    margin:0px;
    row-gap: 0px;
    padding:0px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto;
    grid-template-areas: 
      ". . . ."; 
    background-color: white;


    // box-shadow: $bottomShadow;
    position: relative;


    .design {
        grid-column: span 1;

    //    img{border:3px solid $design;}
    //    img:hover{border:5px solid $design;}
    }

    .design-mid {
        // flex:2 0 100%;
        grid-column: span 2;
        // img{border:3px solid $design;
        // }
        // img:hover{ box-shadow:0px 0px 15px $design; }
        
    }

    .design-wide{
        grid-column: span 3 !important;
    }

    .design-large {
        // flex:2 0 100%;
        grid-column: span 4;
        // img{border:3px solid $design;
        // }
        // img:hover{ box-shadow:0px 0px 15px $design; }
        
    }

    .threedee{
        grid-column: span 1;
        img{border:3px solid $threedee;}
        // img:hover{ 
        //     // box-shadow:0px 0px 15px $threedee;  
        //     //animation:hoverBorder 1s infinite;
        // }
    }

    .threedee-large {
        // max-width: 66.6%;
        // flex:2 0 66%;
        grid-column: span 2;
        img{border:3px solid $threedee;}
        // img:hover{ box-shadow:0px 0px 15px $threedee;
        //     //animation:hoverBorder 1s infinite;
        // }
    }

    .website{
        // max-width:100%;
        // flex:1 0 100%;
        grid-column: span 3;
        img{border:3px solid $website;}
        // img:hover{ box-shadow: 0px 0px 15px $website;}
    }
}

.pageTitle{
    padding:20px;
    font-size:20px;
    padding-left:60px;
    color:white;
    background-color: $black;
    width:100%;
    font-family: $main-font;
    position: sticky;
    top:0;
    z-index: 1;
    // box-shadow: $topShadow;
    line-height:2rem;
    .blurb h2{
        text-align: left !important;

    }
}
.p_avatar{
    padding:0px;
    margin:0px;
    overflow: hidden;
}
.bio-panel{
    position: relative;
    margin-bottom: -4px;
    // padding:20px;
    // padding-top:0px;
    // padding-bottom:0px;
    color:$white;
    line-height: 1;
    // position:relative;
    flex:1 0;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
    img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        // margin-bottom:10px;
        // margin-top:10px;
        // border-radius: 15px;
        // opacity:.5;
        // transition:.25s ease;
        // box-shadow: $shadowThin;
    }

    // img:hover{
    //     opacity:1;
    // }


    //title in bio-templates

    h2,h3,p{
        padding-left:15px;
    }

    h2{
        font-size: 24px;
        padding-bottom:5px;
    }

    h3{
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    p{
        font-size: 12pt;
        font-weight: 400;
    }

}


@media only screen and (max-width: 768px) {

    // #teamSection{
    //     display: flex;
    //     flex-flow:column nowrap;

    // }

    // .threedee-large, .design-large, .design-wide, .design-mid, .website{
    //     grid-column: span 1;

    // }

    .bio-panel{
        padding:0px;
        flex:1; 

        // .p_avatar{
        //     // padding:20px;
        //     padding:0px;
        //     margin:0px;
        //     max-width: 250px;
        //     max-height: fit-content;
        // }

        img{
            padding:0;
            margin:0;
            opacity: 1;
        }
   
  }

  #teamSection     {

    .design-mid{
        grid-column: span 4 !important;
    }

    .design-wide{
        grid-column: span 4 !important;

    }
    .design {
    grid-column: span 4 !important;
}
    }
}
