#call{
    opacity:0;
}


header{
    position: relative;
    display: flex;
    flex-flow:column nowrap;
    overflow: hidden;
    max-height:100vh;
    height:100vh;
    // background-image: url(../dist/backgrounds/wood.jpg);
    // background-attachment: fixed;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
	// background: linear-gradient(-45deg, #ec7d5b, #ec2370, #23a6d5, #23d5ab);
	// background-size: -200% -200%;
	// animation: gradient 15s ease infinite;    width: 100%;
    // max-height: 100vh;
    // box-shadow: $shadow2;
    z-index: 0;
    align-items: center;
    justify-content: center;
    .siteTitle{
        color:$white;
        float:right;
    }
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding:0px;
    
}

.hero-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust column sizes as needed */
    gap: 20px; /* Adjust gap between components as needed */

}

.hero-component {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin-top:-60px;
    h2{
        font-family: montserrat;
        font-size: 36px;
        margin-bottom: 20px;
    }
    p{
        margin-bottom:10px;
    }
}

.headerWrapper{
    height:100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
}


.topBar{
    // background-color:$black;
    // box-shadow:$topShadow;
    width:100%;
    position:sticky;
    top:0;
    left:0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    z-index:1;

    padding-left:60px;
    padding-right:60px;
    padding-top:20px;
    padding-bottom:20px;

    h2{
        color:$white;
        margin-left:20px;
    }

    .musicNote{
        cursor: pointer;
    }
}

.tbtwo{
    justify-content: flex-start;
    background-color: $black;
    z-index: 3;
}
.blanks{
    background:none;
    justify-content: space-between;
}
.okay-btns{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    button{
        flex:1;
        margin:10px;
    }
}

.menus{
    list-style-type: none;
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    margin:0 auto;



    li a{
    color: $white;
    font-size:22px;
    font-family: $main-font;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    transition:.25s ease;

    }

    li a:hover{
        color:$hover;
        // letter-spacing: 3px;
    }

}

.textFlash{
    animation:textFlash 10s 2s ease;

}

.blurb{
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    
    h2{
      color:$white;
    //   opacity: 0;
    }
    svg{
      height:40px;
      width:40px;
      margin-left:30px;

      fill:$white;
      cursor: pointer;
      &:hover{
        fill:$hover;
      }
    }




    .spinarrow{
        height:40px;
        width:40px;
        opacity:0;
        animation: arrowSpin 10s 2s ease;
        margin-right:50px;
        margin-left:0px;
        cursor: default;
        &:hover{
            fill:$white;
        }
    }
  }

  .spinning{
    animation: spinny 5s 5s infinite ease;
  }

  @media only screen and (max-width: 768px) {

    .topBar{
        padding-right:20px;
        padding-left:20px;
        justify-content: center;
    }


    header{
        max-height:none;
    }

    .noMobile{
        display: none;
    }

    .blurb ul{
        width: 100vw;
        justify-content: space-around;
        svg{
            margin-left:0px;
        }
    }

}