.lightBox{
    top:0;
    left:0;
    position: fixed;
    overflow-y: scroll !important;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    height:100vh;
    width:100vw;
    z-index: 11;
    background-color: $white;



    .lb-image{
        min-height:100vh;
        display: flex;
        height:auto;
        justify-content: center;
        flex-flow: column;
        // backdrop-filter: blur(10px);    
        align-items: center;
        // padding:80px;

        
        .in-image{
            width:fit-content;
            height:auto;
            // height:50vw;
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            ul{
                display: flex;
                flex-flow: row;
                position: fixed;

                bottom:20px;
                margin-left:auto;
                margin-right:auto;

                width:30vw;
                justify-content: space-between;
                li{
                    padding:20px;
                }
            }


        }
        img{
            max-height:40vw;
            max-width: 80vw; 
            object-fit: contain;
            object-position: center top;
            cursor: -moz-zoom-out; 
            cursor: -webkit-zoom-out; 
            cursor: zoom-out;
        }
        video{
            max-height:40vw;
            max-width: 80vw; 
            object-fit: contain;
            object-position: center top;
           cursor: pointer;
        }
    }

    .design{
        img{
        border:10px solid $design;
        }
    }

}

.lightBoxMenu{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



.link{
 
    z-index: 3;
    display: flex;
    // margin-top:40px;
    position: absolute;
    bottom:20px;
    right:20px;
    a{
        font-size: 12px;
        color:$black;
        text-decoration: none;
        margin-left:20px;
    }
}

.lb-text{
    background-color: $white;
    padding:40px;
    padding-left:120px;
    padding-right: 120px;
        line-height: 26px;
        font-size:16px; 

    flex:1;
    .lb-title{
    text-shadow: $textshad2;
    font-size:26px;
    margin-bottom:30px;
    color:$black !important;
    font-family: $bigFont;
    }
}

.small{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    .lb-image{

        flex:1;
        img{
            max-width: 800px;
            max-height: 800px;
        }
    }
    .lb-text{
        flex:1;
    }

}

.large{
    flex-flow: column nowrap;
    .lb-text{
        flex:1;
        transition:.35s ease;
        padding:50px;

    }
    .lb-text:hover{
        opacity: .3;
    }

    .lb-image{
        flex:1 0 80%;
        max-height: 80%;
        img{
            max-width:100vw !important;

        }
    }
}
.websize{
    overflow: overlay;

    flex-flow: row nowrap;
    .lb-text{
        flex:1 0 30%;
        max-width: 30%;
        position: absolute;
        bottom:0;
        right:0;
        background-color: $white;
        padding:10px;
        height:100%;
        max-width: 30%;
        padding-left:40px;
        transition:1s ease;
        padding-top:100px;
        .lb-title{
            font-size: 32px;
        }
        .lb-subtitle{
            font-size: 20px;
        }
    }
    .lb-text:hover{
        opacity: .1%;
    }

    .lb-image{
        display: flex;
        padding:20px;
        flex:1 0 70%;
        max-width: 70%;
        justify-content: space-between;
    }
}
.design{
.lb-text{
    .lb-title{
        color:$design;
    }
}
}

.threedee-large{
    .lb-text{
        .lb-title{
            color:$threedee;
        }
    }
}

@media only screen and (max-width: 900px) {


    .lightBox .lb-image{
        
        .in-image {
           
            ul{
                position: static;
                width:100%;
            }
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            max-width: 100vw;
            height:auto;

        img,video{
            overflow: hidden;
            object-fit: contain;
            height:80vw !important;
            max-height: none;
            object-position: center center;
        }}
        padding:0px !important;
    }
    .lb-image img{
        padding:0px !important;
        width:100%;
    }
    .lb-text{
        padding-right:40px;
        padding-left:40px;
    }

    .small{
        flex-flow: column nowrap;
        justify-content: space-between;
        .lb-image{
            width: 100%;
            max-width: 100%;


            img{
                width: 100%;
            }
        }
        .lb-text{
            flex:1 0 100%;
            max-width: 100%;
            padding:20px;

        }
    
    }
}
.large{
    display: flex;
    .lb-text{
        flex:1 0 50%;
        min-height: 1000px;
    }
}

