
.profileWrapper{
    display: flex;
    flex-flow: row;
    background-color: $red;
    width:100vw;
    justify-content: center;
    align-items: center;
    form{
        flex:1 0 70%;
        max-width: 70%;
        background-color: $orange;
        height:100%;
        display: flex;
        flex-flow: column;
        padding:20px;
        label{
            margin-bottom:10px;
        }
        input, select, textarea{
            padding:10px;
            margin-bottom: 10px;
        }
    }
    .profilePage{
        display: flex;
        flex-flow: column;
        
        background-color: $black;
        flex:1 0 30%;
        max-width: 30%;
        height:100%;
        img{
            width: 100%;
        }
        p{
            padding:20px;
            span{
                font-weight: 600;
            }
    
        }
    }
}


@media only screen and (max-width: 750px) {
.profileWrapper{
    flex-flow: column;
    form{
        flex:1 0 100%;
        max-width: none;
    }
    .profilePage{
        flex:1 0 100%;
        max-width: none;
    }
}

}