*::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
  }